.header {
  display: flex;
  background-color: #302045;
  height: 150px;
  padding-left: 40px;
}

.menuImg-box {
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.menuImg {
  height: 50%;
  width: 18%;
}

.logoImg-box {
  height: 230px;
  position: absolute;
  top: 40px;
  left: 35%;
}

.logoImg {
  height: 100%;
  width: 290px;
}

@media only screen and (min-device-width: 1024px) {
  .header {
    height: 60px;
  }
  .menuImg-box {
    display: none
  }
  .logoImg-box {
    position: absolute;
    top: -10px;
    left: 42%;
  }
  .logoImg {
    height: 70%;
    width: 220px;
  }
}