.media-container {
  width: 95%;
  margin: 15px auto;
}

.media-description {
  width: 70%;
  margin: 12% auto;
  margin-bottom: 7%;
  text-align: center;
  font-size: 4.5em;
}

.media-description-text1 {
  font-weight: bold;
  border-bottom: 4px solid #A1124D;
  padding: 15px;
}

.media-description-text2 {
  font-size: 2.5rem;
  padding: 15px;
  color: #787676;
}

.media-section {
  display: flex;
  align-items: center;
}

.icon {
  width: 80px;
  margin: 10px 10px 5px 20px;
}

.media-section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5px
}

.media-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.media-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  border: 2px solid purple;
  margin: 20px;
  width: 100%;
  overflow: hidden;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}

.video {
  border: 1px solid green
}

.media-flexbox-anchor {
  text-decoration: none;
  margin: 20px;
  font-size: 2em;
  color: black
}

.media-flexbox-check {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.media-item:hover {
  transition: 0.3s;
}

.media-label {
  font-size: 2em;
  display: block;
  background-color: #5b356e;
  color: white;
  width: 100%;
  padding: 15px
}

.margin-b {
  margin-bottom: 50px;
}

@media only screen and (min-device-width: 767px) {
  .media-item {
    width: 43%;
  }
  .media-description {
    margin: 10% auto;
    margin-bottom: 30px;
    font-size: 2.5em;
    width: 45%;
  }
  .media-description-text2 {
    font-size: 1.2rem;
    padding: 2% 10%;
  }
  .icon {
    width: 50px;
  }
  .media-section-title {
    font-size: 1.8rem;
  }
  .media-label {
    font-size: 1em;
  }
  .media-flexbox-anchor {
    font-size: 1.5em;
  }
  .media-flexbox-check {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-device-width: 1025px) {
  .media-item {
    width: 32%;
  }
  .media-description {
    margin: 5% auto;
    margin-bottom: 30px;
    font-size: 2.2em;
    width: 35%;
  }
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1680px) {
  .media-item {
    width: 23%;
  }
}