* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  font-size: 5.5em;
  font-weight: 700;
  font-style: italic;
  color: #302045;
  text-align: center;
}

.slogan {
  font-size: 4em;
  width: 70%;
  margin: 15px auto;
  font-style: italic;
  text-align: center;
  color: #302045
}

.slogan-box {
  margin-top: 8%;
}

.btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 5% auto;
}

.cervejas-btn {
  background-color: #A1124D;
  color: #E5E5E5;
  font-size: 2.5em;
  border: none;
  margin-top: 35px;
  font-weight: bold;
  border-radius: 5px;
  padding: 35px;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
}

.btn-empty {
  border: 2px solid #A1124D;
  background-color: white;
  color: gray;
}

.btn1 {
  position: relative;
  right: 180px;
  z-index: -1;
}

.btn2 {
  position: relative;
  left: 100px;
  z-index: -1;
}

.btn3 {
  position: relative;
  right: 80px;
  padding: 35px 65px;
  z-index: -1;
}

.cervejas-img-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.cervejas-img-box .cat {
  width: 15%;
}

.cervejas-img-box .bottles {
  width: 80%;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
}

.bootle-box {
  width: 68%;
  padding: 40px 10px;
  text-align: center;
  z-index: -1;
}

.cervejas-img-box .atom {
  width: 15%;
}

@media only screen and (max-device-width: 350px) {
  .btn-box {
    margin: 8% auto;
  }
}

@media only screen and (min-device-width: 500px) {
  .titulo {
    font-size: 3.2em;
  }
  .slogan {
    font-size: 2.2em;
  }
  .btn-box {
    width: 80%;
    margin: 2% auto;
  }
  .cervejas-btn {
    padding: 15px;
    font-size: 2em;
    margin-top: 25px;
  }
  .btn1 {
    right: 140px;
  }
  .btn2 {
    left: 80px;
  }
  .btn3 {
    right: 80px;
  }
  .bootle-box {
    width: 45%;
  }
  .cervejas-img-box .cat {
    width: 10%;
  }
  .cervejas-img-box .atom {
    width: 10%;
  }
}

@media only screen and (min-device-width: 1024px) {
  .main-container {
    overflow: hidden;
  }
  .titulo {
    font-size: 2.5em;
  }
  .slogan {
    font-size: 1.5em;
  }
  .slogan-box {
    margin-top: 4%;
    margin-right: 3%;
  }
  .btn-box {
    display: none;
    margin: 0px;
  }
  .bootle-box {
    width: 25%;
    margin-right: 3%;
  }
  .cervejas-img-box .cat {
    width: 8%;
  }
  .cervejas-img-box .atom {
    width: 8%;
    margin-right: 5px;
  }
}

@media only screen and (min-device-width: 1440px) {
  .slogan-box {
    margin-top: 5%;
    margin-right: 3%;
  }
  .bootle-box {
    width: 25%;
  }
  .cervejas-img-box .cat {
    width: 7%;
  }
  .cervejas-img-box .atom {
    width: 7%;
  }
  .btn-box {
    display: none;
  }
}