.main-container {
  padding: 30px;
}

.cervejas-btn {
  background-color: #A1124D;
  color: #E5E5E5;
  font-size: 3em;
  border: none;
  font-weight: bold;
  width: 70%;
  height: 120px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 70%;
}

.titulo {
  font-size: 5em;
  max-width: 150px;
  font-weight: 700;
  font-style: italic;
}

.slogan {
  margin-top: 15px;
  width: 27%;
  height: 15%;
  font-size: 3em;
  border-bottom: 2px solid #A1124D;
  padding-bottom: 10px;
}

.slogan-box {
  margin-left: 35px;
  margin-top: 60px;
}

.btn-box {
  width: 100%;
  text-align: center;
  margin-top: 20%;
}

.hop-img {
  opacity: 0.05;
}

.hop-img-box {
  position: absolute;
  top: 180px;
  right: 0px;
}