.box {
  padding: 10%;
  font-size: 2.5em;
  line-height: 1.7;
}

.who {
  background-color: #7CCDAB;
}

.why {
  background-color: #E38385;
}

.mission {
  background-color: #F8B654;
}

.icons {
  width: 10%;
}

.title-box {
  margin: 20px 0px;
  padding: 20px 0px;
}

.icon-box {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (min-device-width: 768px) {
  .boxes-container {
    display: flex;
    overflow: hidden;
  }
  .box {
    padding: 5%;
    font-size: 1.3em;
    line-height: 1.7;
    width: 33.3%;
  }
}

@media only screen and (min-device-width: 1024px) {
  .box {
    font-size: 1em;
    height: 100vh;
  }
}

@media only screen and (min-device-width: 1440px) {
  .box {
    font-size: 1.4em;
  }
}