* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

.beer-slogan {
  color: #3E2CAE;
  width: 100%;
  text-align: center;
  margin: 10% auto;
  font-style: italic;
  font-size: 3em;
  padding: 25px;
}

.bold {
  font-weight: bold;
}

.cat-img {
  width: 95%;
  margin: auto;
}

.description-box {
  font-style: italic;
  width: 65%;
  margin-left: 15%;
  font-size: 3em;
  line-height: 1.5;
  padding-top: 15px;
}

.extra-infos {
  padding: 20px;
  background-color: #A1124D;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-box {
  width: 100%;
}

.item-box {
  text-align: center;
  color: #E7E8E7;
  font-weight: bold;
  font-size: 1.9em;
  padding: 20px;
}

.cup-img {
  height: 120px;
  width: 120px;
}

.padding-bot-15 {
  padding-bottom: 15px;
}

.harmony-list {
  background-color: #A1124D;
  padding: 30px;
  text-align: center;
  color: #E7E8E7;
  font-size: 0.8em;
}

@media only screen and (min-device-width: 768px) {
  /* .beer-box {
    width: 45%;
  } */
  .description-box {
    font-size: 2.5em;
    margin-left: 10%;
    width: 80%;
  }
  .cat-img {
    width: 70%;
    margin: auto;
  }
  .item-box {
    font-size: 1.5em;
    padding: 20px;
  }
  .cup-img {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-device-width: 1023px) {
  .large-device {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) {
  .small-device {
    display: none;
  }
  .beer-main {
    display: flex;
  }
  .description-box {
    width: 30%;
    font-size: 1.3em;
    padding: 0;
    margin: auto;
    color: #302045;
    text-align: center;
  }
  .cat-img {
    width: 100%;
  }
  .item-box {
    font-size: 1.5em;
  }
  .img-box {
    width: 35%;
  }
  .beer-slogan {
    margin: 15px auto;
    font-size: 1.5em;
    padding: 5px;
    color: #3E2CAE;
    border-bottom: 2px solid #be0067
  }
  .extra-infos {
    padding: 0px;
  }
  .item-box {
    text-align: center;
    font-size: 1em;
    padding: 10px 5px;
  }
  .cup-img {
    height: 40px;
    width: 40px;
  }
  .harmony-list {
    padding: 10px;
    font-size: 1.2em;
  }
}

@media only screen and (min-device-width: 1440px) {
  .description-box {
    font-size: 1.5em;
  }
}