.footer-page-insta {
  width: 70px;
  margin-right: 15px;
}

.footer-page-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
  color: #EF0A68;
  font-size: 2em;
}

@media only screen and (min-device-width: 550px) {
  .footer-page-insta {
    width: 40px;
    margin-right: 10px;
  }
  .footer-page-box {
    font-size: 1em;
    padding: 7px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .footer-page-insta {
    width: 25px;
    margin-right: 7px;
  }
  .footer-page-box {
    font-size: 0.8em;
  }
}